body {
  height: 100%;
  margin: 0;
}

.Login-bod {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login-form {
  display: flex;
  box-shadow: 0px 0px 10px #888;
  width: 45vw;
  height: 60vh;
  border-radius: 5px;
}

@media (max-width: 1150px){
  .Login-form{
    height: 70vh;
    width: 55vw;
  }
}

.lado-izq {
  background: rgb(189, 210, 88);
  background: linear-gradient(
    45deg,
    rgba(189, 210, 88, 1) 0%,
    rgba(18, 183, 198, 1) 33%,
    rgba(5, 181, 206, 1) 100%
  );
  width: 50%;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.lado-der {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
  justify-content: space-evenly;
}




.Login-formulario-log {
  display: flex;
  flex-direction: column;
}

.Login-formulario-log label{
  font-size: 14px !important;
}

.MuiButton-text {
  text-transform: capitalize !important;
}

.MuiButton-outlined {
  text-transform: capitalize !important;
}

.Login-but {
  height: 38px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 2px solid rgba(18, 183, 198, 1);
  color: rgba(18, 183, 198, 1);
  width: 100%;
  cursor: pointer;
  font-size: 14px;
}
.input-passs {
  margin: 0;
  margin-bottom: 5px;
}

.standard-basic :hover{
    border: 0;
    border-bottom: 0;
}

.standard-basic ::after{
    border-bottom: 2px solid #BDD258 !important;
}



.input-passs ::after{
    
    border-bottom: 2px solid #BDD258 !important;
}

.focused-correo-la {
  color: #797979 !important;
}

.input-pass InputLabel::after{
    color: #797979 !important;
}
.input-pass-il{
    color: rgb(107, 107, 107) !important;
    
}
  